@media (prefers-color-scheme: dark) {

  @media (768px <=width) {
    .page .decorated-zone__text {
      inset-block-start: 20px;
      inset-inline-end: 48px;
    }

    .page .decorated-zone__text::after {
      inline-size: 12px;
      block-size: 12px;
    }
  }

  :root {
    --frame-color: #ff0070;
    --text-color: #f1b2ce;
    --title-color: #db00ff;
    --title-h2-color: #ff0070;
    --heading-text-color: #000028;
    --shadow-color: #ff0070;

    /* фон */

    --accent-color: #ff0070;
    --bg-color: #000028;
    --bg-image: url(../images/cover-image-dark.png);

    /* переменные текста  */
    --rec-display: flex;
  }

  
}