/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}



:root .theme_dark {

  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --title-h2-color: #ff0070;
  --heading-text-color: #000028;
  --shadow-color: #ff0070;

  /* фон */

  --accent-color: #ff0070;
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
/* переменные текста  */
  --rec-display:flex;
}

@media (prefers-color-scheme: dark) {
  :root {

    --text-color: #f1b2ce;
    --title-color: #db00ff;
    --title-h2-color: #ff0070;
    --heading-text-color: #000028;
    --shadow-color: #ff0070;

    /* фон */

    --accent-color: #ff0070;
    --bg-color: #000028;
    --bg-image: url(../images/cover-image-dark.png);

    /* переменные текста  */
    --rec-display:flex;
  }

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  inset-inline-start: 10px;
  inset-block-end: 10px;


}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
  inset-inline-end: 10px;
  inset-block-start: 10px;
}

 .decorated-zone__text {
  position: absolute;
  color: var(--title-h2-color);
  inset-block-start: 10px;
  inset-inline-end: 39px;
}

.decorated-zone__text::after {
  content: "";
  position: absolute;
  margin-inline-end: 10px;
  border-radius: 50%;
  background-color: var(--title-h2-color);
  inset-block-start: 28%;
  inset-inline-start: 129%;
  inline-size: 12px;
  block-size: 12px;
}


@media (768px <=width) {
  
  .decorated-zone__text {
    inset-block-start: 20px;
    inset-inline-end: 48px;
  }


   .decorated-zone__text::after {
    inline-size: 12px;
    block-size: 12px;
  }

  .decorated-zone::before {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }

  .decorated-zone::after {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }
}
}