

  :root .theme_dark {
    --button-hover:#FF007066;
    --text-color: #f1b2ce;
    --title-color: #db00ff;
    --title-h2-color: #ff0070;
    --heading-text-color: #000028;
    --shadow-color: #ff0070;

    /* фон */

    --accent-color: #ff0070;
    --bg-color: #000028;
    --bg-image: url(../images/cover-image-dark.png);

    /* переменные текста  */
    --rec-display: flex;
  }

