:root .theme_light {
  --button-hover:#ff8dcb;
  --text-color: #353430;
  --title-color: #ffc2e6;
  --title-h2-color: #353430;
  --heading-text-color: #353430;
  --shadow-color: #ff8dcb;

  /* фон */

  --accent-color: #ff8dcb;
  --bg-color: #fff1f7;
  --bg-image: url(../images/cover-image-light.png);

  /* переменные текста  */
  --rec-display: none;
}

.theme_light .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

@media (prefers-color-scheme: light) {
  :root {
    --button-hover:#ff8dcb;
    --text-color: #353430;
    --title-color: #ffc2e6;
    --title-h2-color: #353430;
    --heading-text-color: #353430;
    --shadow-color: #ff8dcb;

    /* переменные текста  */
    --rec-display: none;

    /* фон */

    --accent-color: #ff8dcb;
    --bg-color: #fff1f7;
    --bg-image: url(../images/cover-image-light.png);
  }

  .theme_light .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }
}