:root  {
  /* Переменные цвета */
  --button-hover:#f1b2ce;
  --accent-family: "IBM Plex mono";
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --title-h2-color: #ff0070;
  --heading-text-color: #000028;
  --shadow-color: #ff0070;

  /* переменные текста */
  --rec-display: flex;

  /* фон */

  --accent-color: #ff0070;
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}


@media (prefers-color-scheme: light) {
  :root .theme_light  {
    --button-hover:#ff8dcb;
    --text-color: #353430;
    --title-color: #ffc2e6;
    --title-h2-color: #353430;
    --heading-text-color: #353430;
    --shadow-color: #ff8dcb;

    /* переменные текста  */
    --rec-display: none;

    /* фон */

    --accent-color: #ff8dcb;
    --bg-color: #fff1f7;
    --bg-image: url(../images/cover-image-light.png);
  }
}
